<div>
  <div class="position-relative">
    <div class="row justify-content-center container">
      <h2 class="row justify-content-center">Reset password</h2>
      <h4 *ngIf="resetPasswordSuccess" class="row justify-content-center">Password changed successfully. Redirecting...</h4>
      <div class="col-md-6 form-wrapper">
          <form #resetPasswordForm="ngForm" class="needs-validation" (ngSubmit)="onSubmit(resetPasswordForm)" novalidate>
            <div class="mb-3">
              <label class="form-label" for="securityAnswer_1">{{userSecurityQuestions.securityQuestion_1.question}}</label>
              <input type="text" class="form-control" id="securityAnswer_1" name="securityAnswer_1" [(ngModel)]="resetPassword.securityAnswer_1" required>
              <div *ngIf="resetPasswordForm.controls['securityAnswer_1']?.invalid && resetPasswordForm.controls['securityAnswer_1']?.touched">
                <small class="text-danger" *ngIf="resetPasswordForm.controls['securityAnswer_1']?.errors?.['required']">Answer is
                  required.</small>
              </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="securityAnswer_2">{{userSecurityQuestions.securityQuestion_2.question}}</label>
                <input type="text" class="form-control" id="securityAnswer_2" name="securityAnswer_2" [(ngModel)]="resetPassword.securityAnswer_2" required>
                <div *ngIf="resetPasswordForm.controls['securityAnswer_2']?.invalid && resetPasswordForm.controls['securityAnswer_2']?.touched">
                  <small class="text-danger" *ngIf="resetPasswordForm.controls['securityAnswer_2']?.errors?.['required']">Answer is
                    required.</small>
                </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">New password:</label>
              <input type="password" id="password" name="password" class="form-control" [(ngModel)]="resetPassword.newPassword"
                required minlength="8" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&].{8,}$">
              <div *ngIf="resetPasswordForm.controls['password']?.invalid && resetPasswordForm.controls['password']?.touched">
                <small class="text-danger" *ngIf="resetPasswordForm.controls['password']?.errors?.['required']">Password is
                  required.</small>
                <small class="text-danger" *ngIf="resetPasswordForm.controls['password']?.errors?.['minlength']">Password must be
                  at least 8 characters long.</small>
                <small class="text-danger" *ngIf="resetPasswordForm.controls['password']?.errors?.['pattern']">Password must be
                  alphanumeric and contain at least one special character.</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm new password:</label>
              <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                [(ngModel)]="resetPassword.confirmNewPassword" (input)="checkPasswords(resetPasswordForm)" required>
              <div
                *ngIf="resetPasswordForm.controls['confirmPassword']?.invalid && resetPasswordForm.controls['confirmPassword']?.touched">
                <small class="text-danger" *ngIf="resetPasswordForm.controls['confirmPassword']?.errors?.['required']">Confirm
                  password is required.</small>
                <small class="text-danger"
                  *ngIf="resetPasswordForm.controls['confirmPassword']?.errors?.['passwordMismatch']">Passwords do not
                  match.</small>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>