@if (!User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-action="RegisterUser" asp-controller="Auth"><span class="fas fa-user"> Sign Up </span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-action="LoginUser" asp-controller="Auth"><span class="fas fa-sign-in-alt"> Sign In </span></a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-action="Profile" asp-controller="Auth"><span class="fas fa-user"> @User.Identity.Name </span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-action="Logout" asp-controller="Auth"><span class="fas fa-sign-in-alt"> Sign out</span></a>
        </li>
    </ul>
}