<div>
    <div class="position-relative">
        <div *ngIf="loading" class="loader-overlay">
            <img src="assets/loaderImage.gif" class="loader-overlay" alt="loading" />
        </div>
        <div class="row justify-content-center container">
            <h2 class="row justify-content-center">Sign In</h2>
            <div class="col-md-6 form-wrapper">
                <form (ngSubmit)="login()" #loginForm="ngForm">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" [(ngModel)]="username"
                            required #usernameInput="ngModel">
                        <div *ngIf="usernameInput.touched && usernameInput.errors?.['required']" class="text-danger">
                            Username is
                            required.</div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password"
                            required #passwordInput="ngModel">
                        <div *ngIf="passwordInput.touched && passwordInput.errors?.['required']" class="text-danger">
                            Password is
                            required.</div>
                    </div>
                    <button type="submit" style="margin-top: 20px;" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
                </form>
                <a [routerLink]="['/signup']" routerLinkActive="router-link-active">New User?</a>
                <a style="float:right;" [routerLink]="['/auth/forgot-password']" routerLinkActive="router-link-active" >Forgot password?</a>
            </div>
        </div>
    </div>
</div>