<div>
  <div class="position-relative">
    <div class="row justify-content-center container">
      <h2 class="row justify-content-center">Update details</h2>
      <div class="col-md-6 form-wrapper">
          <form #updateUserDetailsForm="ngForm" class="needs-validation" (ngSubmit)="onSubmit(updateUserDetailsForm)" novalidate>
            <div class="mb-3">
                <label class="form-label" for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName" required>
                <div *ngIf="updateUserDetailsForm.controls['firstName']?.invalid && updateUserDetailsForm.controls['firstName']?.touched">
                  <small class="text-danger" *ngIf="updateUserDetailsForm.controls['firstName']?.errors?.['required']">First name is
                    required.</small>
                </div>
              </div>
            <div class="mb-3">
              <label class="form-label" for="lastName">Last name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName" required>
              <div *ngIf="updateUserDetailsForm.controls['lastName']?.invalid && updateUserDetailsForm.controls['lastName']?.touched">
                <small class="text-danger" *ngIf="updateUserDetailsForm.controls['lastName']?.errors?.['required']">Last name is
                  required.</small>
              </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="loginId">Username</label>
                <input type="text" class="form-control" id="loginId" name="loginId" [(ngModel)]="user.loginId" required>
                <div *ngIf="updateUserDetailsForm.controls['loginId']?.invalid && updateUserDetailsForm.controls['loginId']?.touched">
                  <small class="text-danger" *ngIf="updateUserDetailsForm.controls['loginId']?.errors?.['required']">Username is
                    required.</small>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="contactNumber">Contact number</label>
                <input type="text" class="form-control" id="contactNumber" name="contactNumber" [(ngModel)]="user.contactNumber" required>
                <div *ngIf="updateUserDetailsForm.controls['contactNumber']?.invalid && updateUserDetailsForm.controls['contactNumber']?.touched">
                  <small class="text-danger" *ngIf="updateUserDetailsForm.controls['contactNumber']?.errors?.['required']">Contact number is
                    required.</small>
                </div>
              </div>
                <button type="submit" class="btn btn-primary" [disabled]="updateUserDetailsForm.invalid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>