<div class="container">
  <div class="position-relative">
    <div class="row justify-content-center container">
        <h2 class="row justify-content-center">Forgot password</h2>
        <div class="col-md-6 form-wrapper">
          <form #forgotPasswordForm="ngForm" class="needs-validation" (ngSubmit)="onSubmit(forgotPasswordForm)" novalidate>
            <div class="mb-3">
              <label class="form-label" for="firstName">Enter:</label>
              <input type="text" class="form-control" placeholder="Username/email" id="loginId" name="loginId" [(ngModel)]="username">
              <div *ngIf="forgotPasswordForm.controls['loginId']?.invalid && forgotPasswordForm.controls['loginId']?.touched">
                <small class="text-danger" *ngIf="forgotPasswordForm.controls['loginId']?.errors?.['required']">Login id is
                  required.</small>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Submit</button>
          </form>
          <a style="float:right; margin-top: 10px;" [routerLink]="['/signin']" routerLinkActive="router-link-active" >Back to login</a>
        </div>
      </div>
    </div>
  </div>
