.container {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.form-wrapper {
    width: 100%;
    max-width: 700px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

form {
    display: flex;
    flex-direction: column;
}