<div>
  <div class="position-relative">
    <div class="row justify-content-center container">
        <h2 class="row justify-content-center">Change password</h2>
        <h4 class="row justify-content-center" *ngIf="updatePasswordSuccess">Password changed successfully. Signing out...</h4>
        <div class="col-md-6 form-wrapper">
          <form #updatePasswordForm="ngForm" class="needs-validation" (ngSubmit)="onSubmit(updatePasswordForm)" novalidate>
            <div class="mb-3">
              <label class="form-label" for="firstName">Old password:</label>
              <input type="text" class="form-control" id="oldPassword" name="oldPassword" [(ngModel)]="updatePassword.oldPassword">
              <div *ngIf="updatePasswordForm.controls['oldPassword']?.invalid && updatePasswordForm.controls['oldPassword']?.touched">
                <small class="text-danger" *ngIf="updatePasswordForm.controls['oldPassword']?.errors?.['required']">Old password is
                  required.</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label">New password:</label>
              <input type="password" id="newPassword" name="newPassword" class="form-control" [(ngModel)]="updatePassword.newPassword"
                required minlength="8" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&].{8,}$">
              <div *ngIf="updatePasswordForm.controls['newPassword']?.invalid && updatePasswordForm.controls['newPassword']?.touched">
                <small class="text-danger" *ngIf="updatePasswordForm.controls['newPassword']?.errors?.['required']">Password is
                  required.</small>
                <small class="text-danger" *ngIf="updatePasswordForm.controls['newPassword']?.errors?.['minlength']">Password must be
                  at least 8 characters long.</small>
                <small class="text-danger" *ngIf="updatePasswordForm.controls['newPassword']?.errors?.['pattern']">Password must be
                  alphanumeric and contain at least one special character.</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="confirmNewPassword" class="form-label">Confirm new password:</label>
              <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control"
                [(ngModel)]="updatePassword.confirmNewPassword" (input)="checkPasswords(updatePasswordForm)" required>
              <div
                *ngIf="updatePasswordForm.controls['confirmNewPassword']?.invalid && updatePasswordForm.controls['confirmNewPassword']?.touched">
                <small class="text-danger" *ngIf="updatePasswordForm.controls['confirmNewPassword']?.errors?.['required']">Confirm
                  password is required.</small>
                <small class="text-danger"
                  *ngIf="updatePasswordForm.controls['confirmNewPassword']?.errors?.['passwordMismatch']">Passwords do not
                  match.</small>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="updatePasswordForm.invalid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>