<div class="container">
    <div class="position-relative">
        <div class="row justify-content-center container">
    <h2 class="row justify-content-center">Forgot password</h2>
            <div class="col-md-6 form-wrapper">
                <form asp-action="ResetPassword" method="get">
                    <div class="form-group">
                        <label for="LoginId" class="control-lable">Enter username/email:</label>
                        <input id="LoginId" name="LoginId" for="LoginId" class="form-control" required />
                        @* <span for="LoginId" class="text-danger">Login id is required</span> *@
                    </div>
                        <input style="margin-top: 20px;" type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-action="LoginUser" asp-controller="Auth" class="btn btn-default">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .form-wrapper {
        width: 100%;
        width: 700px;
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
    }

    form {
        display: flex;
        flex-direction: column;
    }
</style>
